*{
    margin:0;
    padding:0;
    box-sizing: border-box;

    --nav-background:#2e323f;
    --hero-background:#3b4050;
    --card-background:#6f737f;
    --brown:#a59678;
   
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
}





.menubutton{
    display:none;
    margin:0 auto;
width:60px;
height:60px;
border-radius:50%;
background-color: var(--brown);
position:relative;

}

.bar{
	position:absolute;
	width:35px;
	height:6px;
	background-color:white;
	content:'';
	border-radius:5px;
	left:12px;
transition-property: all;
	transition-duration: .4s;
	top:14px;

}
/* Animations for the hamburger */
.bar3{
	top:43px;}
.bar2{
	top:29px;
}
.bar1.trans1 {
	transform:translateY(22px);	
}
.bar3.trans1{
	transform:translateY(-22px);		
}
.bar2.trans1{
	opacity:0;
}
.bar1.trans2{
	transform:rotate(45deg) translateY(10.5px) translateX(10.5px);	;
}
.bar3.trans2{
	transform:rotate(-45deg) translateY(-10.5px) translateX(10.5px);	;
}


#checkbox{
    display:none;
}




.top_section{
    display:flex;
    flex-direction: column;
    width:100%;
   
}


.header{
 height:6rem;
 background-color: var(--nav-background);
 width:100%;
}

.nav{
    position:relative;;
   width:80%;
   margin:1em auto;
       max-width:1200px;
       display:flex;
       flex-direction: row;
       justify-content: space-between;
  
     


}

.logo{
    color:white;
    font-size: 28px;
    font-style: italic;
    letter-spacing: 5px;

}

.nav-bar{
    transition-property:all;

transition-duration: 1200ms;
}

.navlist{
    position: relative;
margin-top:1em;
display:flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
transition-property:all;
user-select: none;

transition-duration: 1200ms;
}

.nav-item{
    list-style:none;

}

.nav-link{
text-decoration: none;
text-transform: uppercase;
margin:5px 5px;
font-family: 'Montserrat', sans-serif;
font-size:18px;
color:white;
opacity:.8;

background-color:transparent;
padding:.1em 1.2em;
border-radius:15px;
}

.nav-link:hover, .nav-link:focus{
    opacity:1;
    background-color:var(--card-background);
 }

 .nav-item:last-child  .nav-link{
     background-color:var(--brown);
}

.nav-item:last-child  .nav-link:hover,
.nav-item:last-child  .nav-link:focus{
    background-color:white;
    color:var(--hero-background);
}


.hero{
width:100%;
padding:0 10%;
background-color: var(--hero-background);
display:flex;
justify-content: space-between;
flex-direction:row;
border:2px red solid;
}

.hero > *{
    flex: 0  0 50%;

}
.resp{
font-size:90px;
font-weight: 600;;
color:white;
padding:90px 0 90px 0;
line-height: 110%;
}
 .resp .span{
    color:var(--brown);
  
}

.lorem{
    
    padding:30em 1em 0 2em;
    color:white;
}

.lorum-text{
    font-size: 24px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
}

.lorum-button{
    margin-top:2em;
    display:inline-block;
    background-color:var(--brown);
  font-size:24px;
  font-weight:600;
    text-transform: uppercase;
    padding:.1em 1.2em;
    border-radius:15px;

}
.lorum-button:hover, .lorum-button:focus{
background-color: white;
color:black;

}

/*   











MEDIA QUERY FOR IPADS


*/

@media (max-width:1000px){

body{
    background-color: burlywood;
}


.navlist{
    transition-property: none;
}

}



/*   



MEDIA QUERY FOR PHONES


*/


@media (max-width:700px){

    body{
        background-color:cadetblue;
    }
    

.nav{
flex-direction: column;
align-items: center;
}
 
.header{

    height:auto;
}

.menubutton{
display:block;
}
.navlist{

flex-direction: column;
align-items: center;
margin-top:2em;

overflow:hidden;

}

.nav-item{
    margin-top:1em;
}


.hero{
    flex-direction: column;;
}

.lorem{
    padding:0;
}

.lorum-text, .resp{
    text-align: center;
}
.lorum-button{
    margin: 20px auto 50px auto;
    display:block;
    text-align: center;
    width:60%;



}

    }